<div class="dashboard-page pt-page-moveFromBottom">
    <div class="wrapper">
      <!-- <div class="row"> -->
      <div class='hide' [hidden]='!show' id='left'>
          <app-sidebar ></app-sidebar>
      </div>
      <div class='hide-div-content' id='right'>
          <div class='btn-fr-wrapper'>
              <div class='btn-sidebar-collapse'>
                  <a id='btn'  class='fa fa-bars fa-2x'(click)='btnClicked()' aria-hidden="true"></a>
              </div>
              <div class="fr">
                  <h2>Overview <small>Why is Versatile Theme so awesome?</small></h2>
              </div>
          </div>
          <div class="jumbotron">
              <div class="container">
                  <h1>Add Applications</h1>
                      Enter your application details, which will published on your other web applications !<br /><br />
                 
                  <form 
                  #f="ngForm" 
                  (ngSubmit)="submits(f)" >
                         
                      <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input ngModel type="text" class="form-control input-lg" #title="ngModel" name="title" placeholder="Enter Application Title">                      
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Description</label>
                          <input ngModel type="text" class="form-control input-lg" #description="ngModel" name="description" placeholder="Enter Description">                      
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Link</label>
                          <input ngModel type="text" class="form-control input-lg"  name="link" #link="ngModel" placeholder="Enter Link">                      
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Image Banner</label>
                          <input ngModel accept=".jpg,.png,.gif" type="file" class="form-control input-lg" name="image" #fileInput #image="ngModel" placeholder="Enter Link">                      
                      </div>                    
                      <p>
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </p>
                      
                    </form>
              </div>
          </div>
      </div>
      <!-- </div> -->
    </div>
  
  </div>
  