$brand-primary: #1abc9c;

form input {
    opacity: .5;
}


.tiles{
    width:150px;
    height: 150px;
    display: inline-block;
    background-color: coral;
    text-align: center;   
}

.tiles span{
    margin-top:40%;
    display: inline-block;
    vertical-align: sub;
}

.card{
    color: black;
    margin-bottom:10px;
    padding: 10px;
}